<app-menu-bar></app-menu-bar>
<h2>Create a new theme</h2>
<div class="theme">
    <mat-form-field>
        <mat-label>Theme Title</mat-label>
        <input matInput [(ngModel)]="title" name="title"/>
    </mat-form-field>
    <br><br>
    <mat-form-field>
        <mat-label>Theme Description</mat-label>
        <input matInput [(ngModel)]="description" name="description"/>
    </mat-form-field>
    <br><br>
    <mat-form-field>
        <mat-label>Image URL</mat-label>
        <input matInput [(ngModel)]="image" name="image"/>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="createTheme()" routerLink="/app/createTheme/addBooks">Create Theme</button>
</div>